

  body {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #fafafa;
    color: #666666; }
  
  a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #46b5d1; }
    a:hover, a:focus {
      text-decoration: none !important;
      outline: none !important;
      -webkit-box-shadow: none;
      box-shadow: none; }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;
    color: #000; }
  
  .bg-primary {
    background: #46b5d1 !important; }
  
  .ftco-section {
    padding: 7em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
  
  
  textarea.form-control {
    height: inherit !important; }
  
  .wrapper {
    width: 100%; }
  
  .contact-wrap {
    background: #fff; }
  
  @media (max-width: 767.98px) {
    .info-wrap {
      height: 400px; } }
  
  .dbox {
    width: 100%;
    margin-bottom: 25px; }
    @media (max-width: 767.98px) {
      .dbox {
        margin-bottom: 25px !important;
        padding: 0 20px; } }
    .dbox p {
      margin-bottom: 0; }
      .dbox p span {
        font-weight: 500;
        color: #000; }
      .dbox p a {
        color: #46b5d1; }
    .dbox .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.485);
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14px );
-webkit-backdrop-filter: blur( 14px );

      margin: 0 auto;
      margin-bottom: 20px; }
      .dbox .icon span {
        font-size: 20px;
        color: #fff; }
    .dbox .text {
      width: 100%; }
  
  .btn {
    padding: 12px 16px;
    cursor: pointer;
    border-width: 1px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 10px 20px -6px rgba(0, 0, 0, 0.12);
    position: relative;
    margin-bottom: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
   }
    /* language translation */

  /* CSS for the floating button */
  .floating-button {
    position: fixed;
    bottom: 150px;
    right: 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.floating-button:hover {
    background-color: #0056b3;
}

.language-container {
    display: none;
}

/* Styles for displaying the appropriate language */
.language-container.active {
    display: block;
}
/* language translation ----------------*/
